
.navigation {
  position: fixed;
  top: 20px;
  right: 200px;
  length: 100px;
  font-family:"Verdana";
  color: #8F6A2F;
}
.navigation a {
  font-family:"Verdana";
  color: #8F6A2F;
  text-decoration: underline;
}
.aboutush1 h1 {
  text-align: center;
  font-family:"Brush Script MT";
  font-size: 5.2rem;
  color: #8F6A2F;
  margin-top:4.5%;
}
.aboutush3 {
  font-family:"Verdana";
  text-align: center;
  color: #8F6A2F;
  margin-top: 0.05%;
  margin-left: 15%;
  margin-right:15%;
}
.container {
  position: relative;
}
.aboutusimages {
  position: absolute;
  z-index: 1;
  border-style: solid;
  border-radius: 50px;
  border-width: 10px;
  border-color: black;
  margin-top: 120px;
  margin-bottom: 200px;
  margin-left: 220px;
}
.aboutusimagespart2 {
  position: absolute;
  z-index: 2;
  border-style: solid;
  border-radius: 50px;
  border-width: 10px;
  border-color: black;
  margin-top: 130px;
  margin-bottom: 200px;
  margin-left: 140px;
}
.aboutusimagespart3 {
  position: absolute;
  z-index: 3;
  border-style: solid;
  border-radius: 50px;
  border-width: 10px;
  border-color: black;
  margin-top: 40px;
  margin-bottom: 200px;
  margin-left: 190px;
}
.studios {
  margin-top: 500px;
}

.studioh3flex {
  margin-right: 700px;
}

.studioflexinfo {
  margin-right: 700px;
}

.flexbutton {
  margin-right: 700px;
}

.flexbutton a {
  color: black;
}

.flexbutton button:hover {
  border-style: none;
  border-radius: 10px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
}

.imgflex {
  margin-left: 500px;
  margin-top: -200px;
}

.studioh3glow {
  margin-right: 700px;
}

.studioglowinfo {
  margin-right: 700px;
}

.glowbutton {
  margin-right: 700px;
  color: 
}

.glowbutton a {
  color: black;
}

.glowbutton button:hover {
  border-style: none;
  border-radius: 10px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
}

.imgglow {
  margin-left: 500px;
  margin-top: -200px;
}

.studioh3red {
  margin-right: 700px;
}

.studioredinfo {
  margin-right: 700px;
}

.redbutton {
  margin-right: 700px;
}

.redbutton a {
  color: black;
}

.redbutton button:hover {
  border-style: none;
  border-radius: 10px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
}

.imgred {
  position: relative;
  margin-left: 500px;
  margin-top: -150px;
  box-sizing: border-box;
}

.footer {
  margin-top: 100px;
  color: black;
}
