.navigation { /* This is the navigation bar */
  position: fixed; /* This keeps the nav bar in place even when scrolling */
  top: 20px; 
  right: 200px; /* Both top, right, and length elements change where the links stay */
  length: 100px;
}
.navigation a { /* This styles the links */
  font-family:"Verdana"; /* Changes the font of the text */
  color: #8F6A2F; /* Changes the color of the text */
  text-decoration: underline; /* Creates a line under the hyper links */
}
.photopackagesh1 h1 {/* This styles "Photo Packages" header */
  text-align: center; /* Moves header to the center of the page */
  font-family:"Brush Script MT"; /* Changes the font of the text */
  font-size: 5.2rem; /* Changes the font-size */
  color: #8F6A2F; /* Changes the color of the text */
  margin-top:4.5%; /* Moves the header further down */
}

.essential { /*This styles the header and the text written*/
  font-family:"Verdana"; /* Changes the font of the text */
  text-align: center;  /* Moves everything to the center of the page */
  color: #8F6A2F; /* Changes the color of the text */
  margin-top: 0.05%; /* Moves everything further down */
  margin-right: 15%; /*Moves everything further to the right */
}

.essentialimage { /*This styles the image beside all the text */
  margin-left: 1100px; /* Moves the image further to the left*/
  margin-top: -250px; /* Moves the image further up */
}
.essentialimage a { /*This styles the button text under the image */
  color: black; /* Changes the color of the text */
}
.essentialimage button { /*This styles the actual button*/
  background-color: white; /* Sets the background color*/
  color: black; /* Changes the color of the text */
  font-family: "Sans Serif"; /* Changes the font of the text */
  text-decoration: underline; /*Adds a line under the text*/
  margin-top: 10px; /* Moves everything further down */
  margin-left: 100px; /*Moves everything further to the left */
}

.essentialimage button:hover {/* This styles the button when you hover over it */
  border-style: none; /* Sets the border style */
  border-radius: 10px; /* Creates rounded edges */
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6); /* Creates a shadow around the button */
}

.premium {/*This styles the header and the text written*/
  font-family:"Verdana"; /* Changes the font of the text */
  text-align: center;  /* Moves everything to the center of the page */
  color: #8F6A2F; /* Changes the color of the text */
  margin-top: 0.05%; /* Moves everything further down */
  margin-right: 15%; /*Moves everything further to the right */
}


.premiumimage {/*This styles the image beside all the text */
  margin-left: 1100px; /* Moves the image further to the left*/
  margin-top: -250px; /* Moves the image further up */
}

.premiumimage a {/*This styles the button text under the image */
  color: black; /* Changes the color of the text */
}

.premiumimage button {/*This styles the actual button*/
  background-color: white; /* Sets the background color*/
  color: black; /* Changes the color of the text */
  font-family: "Sans Serif"; /* Changes the font of the text */
  text-decoration: underline; /*Adds a line under the text*/
  margin-top: 10px; /* Moves everything further down */
  margin-left: 100px; /*Moves everything further to the left */
}


.premiumimage button:hover {/* This styles the button when you hover over it */
  border-style: none; /* Sets the border style */
  border-radius: 10px; /* Creates rounded edges */
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6); /* Creates a shadow around the button */
}

.luxe {/*This styles the header and the text written*/
  font-family:"Verdana"; /* Changes the font of the text */
  text-align: center;  /* Moves everything to the center of the page */
  color: #8F6A2F; /* Changes the color of the text */
  margin-top: 0.05%; /* Moves everything further down */
  margin-right: 15%; /*Moves everything further to the right */
}

.luxeimage {/*This styles the image beside all the text */
  margin-left: 1100px; /* Moves the image further to the left*/
  margin-top: -250px; /* Moves the image further up */
}

.luxeimage a {/*This styles the button text under the image */
  color: black; /* Changes the color of the text */
}
.luxeimage button {/*This styles the actual button*/
  background-color: white; /* Sets the background color*/
  color: black; /* Changes the color of the text */
  font-family: "Sans Serif"; /* Changes the font of the text */
  text-decoration: underline; /*Adds a line under the text*/
  margin-top: 10px; /* Moves everything further down */
  margin-left: 100px; /*Moves everything further to the left */
}
.luxeimage button:hover {/* This styles the button when you hover over it */
  border-style: none; /* Sets the border style */
  border-radius: 10px; /* Creates rounded edges */
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6); /* Creates a shadow around the button */
}
.addonsimportantnotes { /*This styles the header containing "Add-ons and Extras" along with written texts */
  text-align: center; /* Moves everything to the center of the page */
  font-family:"Verdana"; /* Changes the font of the text */
  font-size: 5.2rem; /* Changes the size of the font */
  color: #8F6A2F; /* Changes the color of the text */
  margin-top:4.5%; /* Moves everything further down */
}
.footer { /*This styles the location, hours, and contact information */
  font-family:"Verdana"; /* Changes the font of the text */
  margin-top: 100px; /* Moves everything further down */
  margin-left: 600px; /*Moves everything further to the left */
  color: black; /* Changes the color of the text */
}
