
.navigation { /* This is the navigation bar */
  position: fixed; /* This keeps the nav bar in place even when scrolling */
  top: 20px; 
  right: 200px; /* Both top, right, and length elements change where the links stay */
  length: 100px;
}
.navigation a { /* This styles the links */
  font-family:"Verdana"; /* Changes the font of the text */
  color: #8F6A2F; /* Changes the color of the text */
  text-decoration: underline; /* Creates a line under the hyper links */
}
.aboutush1 h1 { /* This styles "About Us" header */
  text-align: center; /* Moves header to the center of the page */
  font-family:"Brush Script MT"; /* Changes the font of the text */
  font-size: 5.2rem; /* Changes the font-size */
  color: #8F6A2F; /* Changes the color of the text */
  margin-top:4.5%; /* Moves the header further down */
}
.aboutush3 { /* This styles the written text under the "About Us" header */
  font-family:"Verdana"; /* Changes the font of the text */
  text-align: center; /* Moves header to the center of the page */
  color: #8F6A2F;/* Changes the color of the text */
  margin-top: 0.05%;/* Moves the header further down */
  margin-left: 15%; /*Moves the header further to the left */
  margin-right:15%; /*Moves the header further to the right */
}
.container {
  position: relative; /* Makes the images in the middle relative to the document flow*/
}
.aboutusimages { /* Styles the image collage in the middle of the page */
  position: absolute; /* Positions the image to overlap the other images */
  z-index: 1; /* The order in which the images go in */
  border-style: solid; /* Sets the border style around the image */
  border-radius: 50px; /* Creates rounded edges */
  border-width: 10px; /* Creates the thickness of the border */
  border-color: black; /* Colors the border */
  margin-top: 120px; /* Moves the image further down */
  margin-bottom: 200px; /* Moves the image further up */
  margin-left: 220px; /*Moves the image further to the left */
}
.aboutusimagespart2 { /* Styles the image collage in the middle of the page */
  position: absolute;/* Positions the image to overlap the other images */
  z-index: 2; /* The order in which the images go in */
  border-style: solid;/* Sets the border style around the image */
  border-radius: 50px; /* Creates rounded edges */
  border-width: 10px; /* Creates the thickness of the border */
  border-color: black; /* Colors the border */
  margin-top: 130px; /* Moves the image further down */
  margin-bottom: 200px; /* Moves the image further up */
  margin-left: 140px; /*Moves the image further to the left */
}
.aboutusimagespart3 { /* Styles the image collage in the middle of the page */
  position: absolute;/* Positions the image to overlap the other images */
  z-index: 3;/* The order in which the images go in */
  border-style: solid; /* Sets the border style around the image */
  border-radius: 50px; /* Creates rounded edges */
  border-width: 10px; /* Creates the thickness of the border */
  border-color: black; /* Colors the border */
  margin-top: 40px; /* Moves the image further down */
  margin-bottom: 200px; /* Moves the image further up */
  margin-left: 190px; /*Moves the image further to the left */
}
.studios h1 { /* Styles the header for the studio options */
  margin-top: 500px; /* Moves the header further down */
  font-family:"Brush Script MT"; /* Changes the font of the text */
  font-size: 5.2rem; /* Changes the font-size */
}

.studioh3flex { /* This styles "The Full-Body Flex" header */
  margin-right: 700px; /*Moves the header further to the right */
}

.studioflexinfo { /* This styles the information under "The Full-Body Flex" header */
  margin-right: 700px; /*Moves the header further to the right */
  color: black; /* Changes the color of the text */
}

.flexbutton { /* This styles the first button */
  margin-right: 700px; /*Moves the header further to the right */
}

.flexbutton a { /* This styles the text in the button */
  color: black; /* Changes the color of the text */
}

.flexbutton button:hover { /* This styles the button when you hover over it */
  border-style: none; /* Sets the border style */
  border-radius: 10px; /* Creates rounded edges */
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6); /* Creates a shadow around the button */
}

.imgflex { /*This styles the image beside all the text */
  margin-left: 500px; /*Moves the image further to the right*/
  margin-top: -200px; /*Moves the image further up*/
}

.studioh3glow { /* This styles "The Close-Up Glow" header */
  margin-right: 700px; /*Moves the header further to the right */
}

.studioglowinfo { /* This styles the information under "The Full-Body Flex" header */
  margin-right: 700px; /*Moves the header further to the right */
  color: black; /* Changes the color of the text */
}

.glowbutton { /* This styles the second button */
  margin-right: 700px; /*Moves the header further to the right */ 
}

.glowbutton a { /* This styles the text in the button */
  color: black; /* Changes the color of the text */
}

.glowbutton button:hover { /* This styles the button when you hover over it */
  border-style: none; /* Sets the border style */
  border-radius: 10px; /* Creates rounded edges */
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6); /* Creates a shadow around the button */
}

.imgglow { /*This styles the image beside all the text */
  margin-left: 500px; /*Moves the image further to the right*/
  margin-top: -200px; /*Moves the image further up*/
}

.studioh3red { /* This styles "The Close-Up Glow" header */
  margin-right: 700px; /*Moves the header further to the right */
}

.studioredinfo { /* This styles the information under "The Full-Body Flex" header */
  margin-right: 700px; /*Moves the header further to the right */
  color: black; /* Changes the color of the text */
}

.redbutton {  /* This styles the second button */
  margin-right: 700px; /*Moves the header further to the right */
}

.redbutton a { /* This styles the text in the button */
  color: black; /* Changes the color of the text */
}

.redbutton button:hover { /* This styles the button when you hover over it */
  border-style: none; /* Sets the border style */
  border-radius: 10px; /* Creates rounded edges */
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6); /* Creates a shadow around the button */
}

.imgred { /*This styles the image beside all the text */
  position: relative; /* Makes the image relative to the document flow*/
  margin-left: 500px; /* Makes the image move further to the left*/
  margin-top: -150px; /* Makes the image move further up */
}

.footer { /*This styles the location, hours, and contact information*/
  margin-top: 100px; /*Moves the text further down*/
  color: black; /* Changes the color of the text */
  font-family:"Verdana"; /* Changes the font of the text */
}
