.navigation {
  position: fixed;
  top: 20px;
  right: 200px;
  length: 100px;
  font-family:"Verdana";
  color: #8F6A2F;
}
.navigation a {
  font-family:"Verdana";
  color: #8F6A2F;
  text-decoration: underline;
}
.faqh1  h1 {
  text-align: center;
  font-family:"Brush Script MT";
  font-size: 5.2rem;
  color: #8F6A2F;
  margin-top:4.5%;
}
.faqh3andh4part1 h3 {
  color: #8F6A2F;
  text-align: center;
}

.faqh3andh4part1 h4 {
  color: #8F6A2F;
  text-align: center;
}
.faqlist {
  color: #8F6A2F;
  text-align: center;
}
.faqh3andh4part2 h3 {
  color: #8F6A2F;
  text-align: center;
}
.faqh3andh4part2 h4 {
  color: #8F6A2F;
  text-align: center;
}

.secondh1 {
  color: #8F6A2F;
  text-align: center;
  margin-top: 50px;
}

.footer {
  margin-top: 100px;
  margin-left: 600px;
  color: black;
}
