.navigation {
  position: fixed;
  top: 20px;
  right: 200px;
  length: 100px;
  font-family:"Verdana";
  color: #C78B00;
}
.navigation a {
  font-family:"Verdana";
  color: #C78B00;
  text-decoration: underline;
}
.photopackagesh1 h1 {
  text-align: center;
  font-family:"Brush Script MT";
  font-size: 5.2rem;
  color: #C78B00;
  margin-top: 4.5%;
}

.essential {
  font-family:"Verdana";
  text-align: center;
  color: #C78B00;
  margin-top: 0.05%;
  margin-right:15%;
}

.essentialimage {
  margin-left: 1100px;
  margin-top: -250px;
}
.essential image a {
  color: black;
}
.essentialimage button {
  background-color: white;
  color: black;
  font-family: "Sans Serif";
  text-decoration: underline;
  margin-top: 10px;
  margin-left: 100px;
}

.essentialimage button:hover {
  border-style: none;
  border-radius: 10px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
}

.premium {
  font-family:"Verdana";
  text-align: center;
  color: #C78B00;
  margin-top: 0.05%;
  margin-right:15%;
}

.premiumimage {
  margin-left: 1100px;
  margin-top: -250px;
}

premiumimage a {
  color: black;
}

.premiumimage button {
  background-color: white;
  color: black;
  font-family: "Sans Serif";
  text-decoration: underline;
  margin-top: 10px;
  margin-left: 100px;
}

.premiumimage button:hover {
  border-style: none;
  border-radius: 10px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
}

.luxe {
   font-family:"Verdana";
  text-align: center;
  color: #C78B00;
  margin-top: 0.05%;
  margin-right:15%;
}
.luxeimage {
  margin-left: 1100px;
  margin-top: -250px;
}
.luxe image a {
  color: black;
}
.luxeimage button {
  background-color: white;
  color: black;
  font-family: "Sans Serif";
  margin-top: 10px;
  margin-left: 100px;
  text-decoration: underline;
}
.luxeimage button:hover {
  border-style: none;
  border-radius: 10px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
}
.addonsimportantnotes {
  text-align: center;
  font-family:"Verdana";
  font-size: 5.2rem;
  color: #C78B00;
  margin-top:4.5%;
}
.footer {
  font-family:"Verdana";
  margin-top: 100px;
  margin-left: 600px;
  color: black;
}
