.navigation {
  position: fixed;
  top: 0;
  right: 0;
  length: 100px;
  font-family:"Verdana";
  color: #FFD700;
}
.aboutush1 {
  text-align: center;
  font-family:"Brush Script MT";
  color: #FFD700;
}
.aboutush3 {
  font-family:"Verdana";
  text-align: center;
  color: #FFD700;
  margin-left: 15%;
  margin-right:15%;
}
.aboutush3part2 {
  font-family:"Verdana";
  text-align: center;
  color: #FFD700;
  margin-left: 15%;
  margin-right:15%;
}
.container {
  position: relative;
}
.aboutusimages {
  position: absolute;
  z-index: 1;
  border-radius: 50px;
  border-width: 10px;
}
.aboutusimagespart2 {
  position: absolute;
  z-index: 2;
  border-radius: 50px;
  border-width: 10px;
}
.aboutusimagespart3 {
  position: absolute;
  z-index: 3;
  border-radius: 50px;
  border-width: 10px;
}
