/* body {
  background-color: beige;
} */
.name{
  color:purple;
  border: 5px;
}

.question{
color:rgb(139, 0, 0);
border: 5px;
}
h1 {
  color: purple;
  font-size: 5rem;
  text-decoration: underline;
}
h2 {
  text-shadow: 0 0 3px purple;
}
